<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ADN4Research{% endblock %}</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'primary-custom': '#7B61FF',
                        secondary: '#5AB2E6',
                        third: '#875AE6',
                        'principal-font': '#5B5B5B',
                        'secondary-font': '#000000',
                        'principal-bg': '#F6F6F6',
                        'secondary-bg': '#FFFFFF'
                    }
                }
            },
        }
    </script>
</head>

<body>

</body>

</html>