{% extends 'base.html'%}
{% block content %}
<div class="bg-secondary-bg  flex rounded-t-lg border-b border-gray-200">
    <div class="gap-1 px-4">
        <a href="{% url 'design:questions_history' %}">Research Question History</a>
    </div>
    |
    <div class="gap-1 px-4">
        <a href="">Inclusion Criteria</a>
    </div>
    |
    <div class="gap-1 px-4">
        <a href="">Search String Builder</a>
    </div>
</div>

<div>
    {% block tab_content %}
    {# El contenido de question_history.html irá aquí #}
    {% endblock tab_content %}
</div>

    {% endblock %}
