{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mx-auto p-4 space-y-8">
    <div class="w-full flex justify-center bg-base-100/50 m-0">
        <ul class="timeline timeline-vertical  justify-center lg:timeline-horizontal w-full lg:max-w-6xl mx-auto">
            {% for stage in timeline_stages %}
            <li class="h-18">
                {% if not forloop.first %}
                    <hr class="{% if stage.status == 'completed' or stage.status == 'current' %}bg-primary{% else %}bg-base-300{% endif %}" />
                {% endif %}

                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" 
                        class="h-5 w-5 {% if stage.status == 'completed' or stage.status == 'current' %}text-primary{% else %}text-base-300{% endif %}">
                        {% if stage.status == 'completed' %}
                            <circle cx="10" cy="10" r="10" />
                            <path class="text-base-100" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" />
                        {% elif stage.status == 'current' %}
                            <circle cx="10" cy="10" r="10" />
                        {% else %}
                            <circle cx="10" cy="10" r="8" />
                        {% endif %}
                    </svg>
                </div>

                <a href="{% url 'design:design_stages' project.id %}?target_stage={{ stage.key }}" 
                   class="timeline-start md:timeline-end timeline-box border-none shadow-sm cursor-pointer hover:bg-base-200 transition-colors no-underline text-xs sm:text-sm
                          {% if stage.status == 'current' %}bg-primary text-primary-content font-bold shadow-md{% endif %}">
                    {{ stage.label }}
                </a>

                {% if not forloop.last %}
                    <hr class="{% if stage.status == 'completed' %}bg-primary{% else %}bg-base-300{% endif %}" />
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="w-full bg-base-100 border border-base-200 rounded-xl shadow-sm p-6 min-h-[500px]">
        {% block rq_workspace_content %}{% endblock %}
        
        {% block discusion_panel_content %}{% endblock %}
        
        {% block eligibility_criteria_content %}{% endblock %}
        
        {% block search_string_content %}{% endblock %}

    </div>

</div>
{% endblock %}