{% extends 'base_tabs.html'%}
{% load static tailwind_tags %}
{% block rq_workspace_content %}

<div class="max-w-5xl mx-auto">
    {% include 'partials/_question_form.html' %}
</div>

<script>
    const QUESTION_DATA = {{ question_json| safe |default: "null" }};
    const submitUrlTemplate = "{% url 'design:questions:submit' 9999 %}";
    const autosaveUrl = "{% url 'design:questions:autosave' %}";
</script>
<script src="{% static 'scripts/create_research_question.js' %}"></script>

{% endblock rq_workspace_content %}