[Unit]
Description=Gunicorn ADN4RESEARCH
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/tic-rsl/ADN4RESEARCH
EnvironmentFile=/home/tic-rsl/ADN4RESEARCH/.env
ExecStart=/home/tic-rsl/.cache/pypoetry/virtualenvs/tesis-nDrZF1v6-py3.13
Restart=on-failure

[Install]
WantedBy=multi-user.target
